In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import pybaseball

In [6]:
teams = ['ARI', 'ATL', 'BAL', 'BOS', 'CHC', 'CHW', 'CIN', 'CLE', 'COL', 'DET',
'HOU', 'KC', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYM', 'NYY', 'OAK',
'PHI', 'PIT', 'SD', 'SEA', 'SF', 'STL', 'TB', 'TEX', 'TOR', 'WSN']

In [3]:
all_games = []
for team in teams:
    all_games.append(pybaseball.schedule_and_record(2025, team))

http://www.baseball-reference.com/teams/ARI/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/ATL/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/BAL/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/BOS/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/CHC/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/CHW/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/CIN/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/CLE/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/COL/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/DET/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/HOU/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/KC/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/LAA/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/LAD/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/MIA/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/MIL/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/MIN/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/NYM/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/NYY/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/OAK/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/PHI/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/PIT/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/SD/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/SEA/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/SF/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/STL/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/TB/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/TEX/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/TOR/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

http://www.baseball-reference.com/teams/WSH/2025-schedule-scores.shtml

ValueError: Data cannot be retrieved for this team/year combo. Please verify that your team abbreviation is accurate and that the team existed during the season you are searching for.

In [8]:
all_games.append(pybaseball.schedule_and_record(2025, "WSN"))

http://www.baseball-reference.com/teams/WSN/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

In [9]:
all_games[0]

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Thursday, Mar 27",ARI,Home,CHC,L,6.0,10.0,9.0,0-1,5.0,2.0,Steele,Gallen,None,2:59,N,49070.0,.92,-1.0,None
2,"Friday, Mar 28",ARI,Home,CHC,W,8.0,1.0,9.0,1-1,4.0,2.0,Kelly,Taillon,None,2:29,N,37449.0,.88,1.0,None
3,"Saturday, Mar 29",ARI,Home,CHC,L,3.0,4.0,9.0,1-2,5.0,3.0,Imanaga,Pfaadt,Pressly,2:27,N,36407.0,.89,-1.0,None
4,"Sunday, Mar 30",ARI,Home,CHC,W,10.0,6.0,9.0,2-2,4.0,2.5,Martinez,Morgan,None,3:04,D,39145.0,.88,1.0,None
5,"Tuesday, Apr 1",ARI,@,NYY,W,7.0,5.0,9.0,3-2,4.0,3.0,Miller,Leiter,Puk,2:53,N,37482.0,.85,2.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,"Wednesday, Sep 24",ARI,Home,LAD,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
159,"Thursday, Sep 25",ARI,Home,LAD,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
160,"Friday, Sep 26",ARI,@,SDP,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
161,"Saturday, Sep 27",ARI,@,SDP,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
162,"Sunday, Sep 28",ARI,@,SDP,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None

In [10]:
df_all = pd.DataFrame(all_games)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (30,) + inhomogeneous part.

In [12]:
for team in all_games:
    print(f"Team: {team['Tm'].unique()}, df.shape: {team.shape}")

Team: ['ARI'], df.shape: (162, 20)
Team: ['ATL'], df.shape: (162, 20)
Team: ['BAL'], df.shape: (161, 20)
Team: ['BOS'], df.shape: (162, 20)
Team: ['CHC'], df.shape: (162, 20)
Team: ['CHW'], df.shape: (162, 20)
Team: ['CIN'], df.shape: (162, 20)
Team: ['CLE'], df.shape: (162, 20)
Team: ['COL'], df.shape: (162, 20)
Team: ['DET'], df.shape: (162, 20)
Team: ['HOU'], df.shape: (162, 20)
Team: ['KCR'], df.shape: (162, 20)
Team: ['LAA'], df.shape: (162, 20)
Team: ['LAD'], df.shape: (162, 20)
Team: ['MIA'], df.shape: (162, 20)
Team: ['MIL'], df.shape: (162, 20)
Team: ['MIN'], df.shape: (162, 20)
Team: ['NYM'], df.shape: (162, 20)
Team: ['NYY'], df.shape: (162, 20)
Team: ['ATH'], df.shape: (162, 20)
Team: ['PHI'], df.shape: (162, 20)
Team: ['PIT'], df.shape: (162, 20)
Team: ['SDP'], df.shape: (162, 20)
Team: ['SEA'], df.shape: (162, 20)
Team: ['SFG'], df.shape: (162, 20)
Team: ['STL'], df.shape: (162, 20)
Team: ['TBR'], df.shape: (162, 20)
Team: ['TEX'], df.shape: (162, 20)
Team: ['TOR'], df.shape: (161, 20)
Team: ['WSN'], df.shape: (162, 20)

In [13]:
df_tor = pybaseball.schedule_and_record(2025, "TOR")

http://www.baseball-reference.com/teams/TOR/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

In [14]:
df_tor.shape

(161, 20)

In [5]:
len(teams)

30

In [35]:
df_phi = pybaseball.schedule_and_record(2025, 'PHI')

http://www.baseball-reference.com/teams/PHI/2025-schedule-scores.shtml

/Users/samuelluxenberg/Library/CloudStorage/OneDrive-Personal/GitHub/end-to-end-mlb-betting/.venv/lib/python3.10/site-packages/pybaseball/team_results.py:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Attendance'].replace(r'^Unknown$', np.nan, regex=True, inplace = True) # make this a NaN so the column can benumeric

In [3]:
df_phi.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Thursday, Mar 27",PHI,@,WSN,W,7.0,3.0,10.0,1-0,1.0,Tied,Alvarado,Poche,None,3:09,D,41231.0,.99,1.0,None
2,"Saturday, Mar 29",PHI,@,WSN,W,11.0,6.0,9.0,2-0,1.0,up 0.5,Luzardo,Poche,None,3:13,D,38446.0,1.04,2.0,None
3,"Sunday, Mar 30",PHI,@,WSN,L,1.0,5.0,9.0,2-1,2.0,0.5,Parker,Nola,Finnegan,2:33,D,28075.0,1.06,-1.0,None
4,"Monday, Mar 31",PHI,Home,COL,W,6.0,1.0,9.0,3-1,1.0,up 0.5,Ross,Alexander,None,2:39,D,44595.0,.98,1.0,None
5,"Wednesday, Apr 2",PHI,Home,COL,W,5.0,1.0,9.0,4-1,1.0,up 1.0,Wheeler,Freeland,None,2:32,N,37550.0,1.01,2.0,None

In [4]:
df_phi.tail()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
158,"Wednesday, Sep 24",PHI,Home,MIA,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
159,"Thursday, Sep 25",PHI,Home,MIA,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
160,"Friday, Sep 26",PHI,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
161,"Saturday, Sep 27",PHI,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
162,"Sunday, Sep 28",PHI,Home,MIN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None

In [5]:
from datetime import datetime, date, timedelta

In [6]:
df_phi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 1 to 162
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             162 non-null    object
 1   Tm               162 non-null    object
 2   Home_Away        162 non-null    object
 3   Opp              162 non-null    object
 4   W/L              91 non-null     object
 5   R                91 non-null     float64
 6   RA               91 non-null     float64
 7   Inn              91 non-null     float64
 8   W-L              91 non-null     object
 9   Rank             91 non-null     float64
 10  GB               91 non-null     object
 11  Win              91 non-null     object
 12  Loss             91 non-null     object
 13  Save             91 non-null     object
 14  Time             91 non-null     object
 15  D/N              91 non-null     object
 16  Attendance       91 non-null     float64
 17  cLI              91 non-null     object
 18  Streak           90 non-null     float64
 19  Orig. Scheduled  0 non-null      object
dtypes: float64(6), object(14)
memory usage: 25.4+ KB

In [23]:
datetime.strptime((df_phi['Date'] + ', 2025').iloc[0], "%A, %b %d, %Y")

df_phi['Date'] = df_phi['Date'] + ', 2025'

In [25]:
df_phi.apply(lambda x: datetime.strptime(x['Date'], "%A, %b %d, %Y"), axis=1)

ValueError: time data 'Wednesday, May 14 (1), 2025' does not match format '%A, %b %d, %Y'

In [18]:
datetime.strptime(df_phi['Date'].iloc[0], "%A, %b %d")

datetime.datetime(1900, 3, 27, 0, 0)

In [36]:
df_phi['Date'].head(50)

1          Thursday, Mar 27
2          Saturday, Mar 29
3            Sunday, Mar 30
4            Monday, Mar 31
5          Wednesday, Apr 2
6           Thursday, Apr 3
7             Friday, Apr 4
8           Saturday, Apr 5
9             Sunday, Apr 6
10           Tuesday, Apr 8
11         Wednesday, Apr 9
12         Thursday, Apr 10
13           Friday, Apr 11
14         Saturday, Apr 12
15           Sunday, Apr 13
16           Monday, Apr 14
17          Tuesday, Apr 15
18        Wednesday, Apr 16
19         Thursday, Apr 17
20           Friday, Apr 18
21         Saturday, Apr 19
22           Sunday, Apr 20
23           Monday, Apr 21
24          Tuesday, Apr 22
25        Wednesday, Apr 23
26           Friday, Apr 25
27         Saturday, Apr 26
28           Sunday, Apr 27
29          Tuesday, Apr 29
30        Wednesday, Apr 30
31          Thursday, May 1
32            Friday, May 2
33          Saturday, May 3
34            Sunday, May 4
35           Tuesday, May 6
36         Wednesday, May 7
37          Thursday, May 8
38            Friday, May 9
39         Saturday, May 10
40           Sunday, May 11
41           Monday, May 12
42    Wednesday, May 14 (1)
43    Wednesday, May 14 (2)
44           Friday, May 16
45         Saturday, May 17
46           Sunday, May 18
47           Monday, May 19
48          Tuesday, May 20
49        Wednesday, May 21
50         Thursday, May 22
Name: Date, dtype: object

In [28]:
x = "Wednesday, May 14 (1)"
x

'Wednesday, May 14 (1)'

In [34]:
double_header_num = x.split()[-1]

'(1)'

In [38]:
df_phi['Date'].str.split()

1       [Thursday,, Mar, 27]
2       [Saturday,, Mar, 29]
3         [Sunday,, Mar, 30]
4         [Monday,, Mar, 31]
5       [Wednesday,, Apr, 2]
               ...
158    [Wednesday,, Sep, 24]
159     [Thursday,, Sep, 25]
160       [Friday,, Sep, 26]
161     [Saturday,, Sep, 27]
162       [Sunday,, Sep, 28]
Name: Date, Length: 162, dtype: object

In [7]:
df_phi['Date'] = pd.to_datetime(df_phi['Date'])

/var/folders/2j/knnjq0x51sddhsfjqdw6wpl40000gn/T/ipykernel_70724/106958118.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_phi['Date'] = pd.to_datetime(df_phi['Date'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: Thursday, Mar 27, at position 0